.tabsFrame {
    display: flex;
    justify-content: center;
}

.tab {
    background-color: var(--c-button);
    border-radius: var(--corner-small);
    width: clamp(40px, 25%, 200px);
    height: fit-content;
    filter: drop-shadow(var(--shadow));
    margin-inline: 3%;

    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.tab:hover {
    filter: brightness(95%) drop-shadow(var(--shadow));
    scale: 1.05;
    animation-name: example;
    transition: 0.1s;
}

.tab:active {
    filter: brightness(95%) drop-shadow(var(--pressed-shadow));
    transition: 0.05s;
}

.activeTab {
    z-index: 1;
}

.tab > * {
    font-size: calc(24px + 0.8vw);
    font-family: Fjalla One;

    color: var(--c-text);
}

.hiddenItem {
    transition-duration: 0.5s;
    transition: all 0.5s, display 0.6s;

    display: none !important;

    filter: opacity(0%);
    transform: scale(50%);
}