.overMainnav-mobile{
    width: 90%;
    margin: 0 auto;

    position: relative;
    top: 15%;
    
    display:block;
    
}

.mainnav-mobile {
    overflow: hidden;
    list-style-type: none;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    height: fit-content;

}