.projectPage-mobile{
    width: 100%;
    margin: 0 auto;

    position: relative;
    
    display:block;
}


.projectTitle-mobile{
    text-align: center;
    color: white;
    font: ABeeZee;
    font-size: 10vmin;
}

.projecticon-mobile{
    width: 90%;
    height: 90%;
}

.projecticon-bg-mobile{

    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
    
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50px;
    
}


.projectbriefdescbox-mobile{

    height: 500px;

    position: absolute;
    right: 75px;
    top: 25px;
    left: 625px;
    bottom: 25px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.projectbriefdesc-mobile{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 2.8vw;
    text-align: justify;
}



.projectdescbox-mobile{
    height: auto;
    width: calc(100% - 150px);

    position: relative;
    right: 75px;
    left: 75px;
    display: flex;
}

.projectdesc-mobile{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 2.5vw;
    text-align: justify;
}

.project-upperpart-mobile{
    height: 500px;

    position: relative;
    display: flex;
}

.projectimages-mobile{
    height: auto;
    width: calc(100% - 100px);

    position: relative;
    right: 50px;
    left: 50px;
    display: block;
}

.projectimage-bg-mobile{

    width: 100%;
    height: auto;

    /*position: relative;*/
}

.projectimage-mobile{

    height: auto;
    width: 100%;
}

.linkimagecontainer-mobile{

    width: auto;
    height: 12vh;

}

.linkimage-mobile{

    width: auto;
    height: 10vh;

    position: relative;

    left: 50%;
    transform: translate(-50%);
}