body {
    margin: 0;
    font-family: ABeeZee, Montserrat;
    font-weight: normal;

    background-image: url('../multimedia/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    
    justify-content: left;
    align-items: center;
}

img{
    width: auto;
    height: 100%;
}



.imageContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}



.Title{
    font: ABeeZee;
    
    font-size: 75px;
    text-align: center;
    color: white;
}

.noselect, .topnav topNavText,  .topnav-mobile topNavText{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }