.ScratchGameContainer{
    position: absolute;
    left: 50%;
    top: calc(50% + 50px);
    transform: translate(-50%,-50%);

    overflow: hidden;
    list-style-type: none;

    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);

    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
