.topnav-mobile {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    width: 100%;
    height: 200px;
    display:flex;
    justify-content: left;
    align-items: center;
    position: fixed;
}

.topnav-mobile topNavButton {
    float: left;
    padding: 14px 16px;
    height: 100%;
    width: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.topnav-mobile topNavText {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font: ABeeZee;
    font-size: 2vh;
}

.topnav-mobile topNavLogo {
    content:url('../multimedia/images/Logo Tansparente.png');
    width: 100%;
    height: 100%;
}


.topnav-mobile topNavButton:hover {
    background-color: #3333337F;
}

.topnav-mobile topNavButton:active {
    background-color: #4d4d4d7f;
}