.projectPage{
    width: 100%;
    margin: 0 auto;

    position: relative;
    
    display:block;
}


.projectTitle{
    text-align: center;
    color: white;
    font: ABeeZee;
    font-size: 10vmin;
}

.projecticon{
    width: 90%;
    height: 90%;
}

.projecticon-bg{

    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
    
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50px;
    
}


.projectbriefdescbox{

    height: 500px;

    position: absolute;
    right: 75px;
    top: 25px;
    left: 625px;
    bottom: 25px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.projectbriefdesc{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 2.5vmin;
    text-align: justify;
}



.projectdescbox{

    position: relative;
    width: calc(100% - 725px);

    right: 625px;
    top: 25px;
    left: 75px;
    bottom: 25px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.projectdesc{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 2vmin;
    text-align: justify;
}

.project-upperpart{
    height: 500px;

    position: relative;
    display: flex;
}

.project-downpart{
    position: relative;
    display: flex;
    height: fit-content;
}

.projectimages{
    display: block;
    width: 525px;
    height: fit-content;

    position: relative;
    top: 0px;
    right: 50px;
    bottom: 0px;
    left: 150px;
}

.projectimage-bg{

    width: 100%;
    height: auto;

    position: relative;
}

.projectimage{

    height: auto;
    width: 100%;
}

.projectplay{

    background-color: rgb(76, 151, 0);
    border-radius: 10px;

    min-width: 100px;

    position: absolute;
    right: calc(50px + 10%);
    top: calc(100% - 75px);
    left: calc(600px + 10%);
    bottom: 0px;
    
}

.projectplay-arrow{
    
    position: absolute;

    height: 70%;

    top: 15%;
    left: 50%;

    transform: translate(-50%);

}


.projectplay:active {
    background-color: rgb(64, 128, 0);
}