.projectPage, .projectPageUpper, .projectPageMid, .projectPageImages, .projectPageLinks{
    width: 100%;
    margin: 0 auto;

    position: relative;
    
    display:block;
}


.projectTitle{
    text-align: center;
    color: white;
    font: ABeeZee;
    font-size: 10vmin;
}

.projecticon{
    width: 90%;
    height: 90%;
}

.projecticon-bg{

    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: calc(100% - 75px);
    height: 500px;
    
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50px;
    
}


.projectbriefdescbox{

    height: 500px;

    position: absolute;
    right: 75px;
    top: 25px;
    left: 625px;
    bottom: 25px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.projectbriefdesc{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 1.5vw;
    text-align: justify;
}



.projectdescbox{

	width: calc(100% - 100px);
    position: relative;

    right: 50px;
    left: 50px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.projectdesc{
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    font-size: 1.2vw;
    text-align: justify;
    white-space: pre-line;
}

.project-upperpart{
    height: 500px;

    position: relative;
    display: flex;
}

.project-downpart{
    position: relative;
    display: flex;
    height: fit-content;
}

.projectimages{
    display: block;
    width: calc(100% - 100px);
    height: fit-content;
	
	
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: space-evenly;

    position: relative;
    left: 50px;
}

.projectimage-bg{

    width: 100%;
    height: auto;

    position: relative;
}

.projectimage{

    height: auto;
    width: 100%;
}

.projectplay{
    background-color: #00b06f;
    border-color: #00b06f;
    color: #fff;
    border-radius: 8px;
    min-width: 75px;
    position: absolute;
    right: 75px;
    top: calc(100% - 75px);
    left: 625;
    bottom: 25px;
}

.projectplay-arrow{
    
    position: absolute;

    height: 70%;

    top: 15%;
    left: 50%;

    transform: translate(-50%);

}


.projectplay:active {
    background-color: #00945e;
}



.descandwidgets{

    position: relative;
    width: calc(50% - 75px);

    right: 600px;
    top: 0px;
    left: 50px;
    bottom: 0px;
    

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.widgets{

    position: relative;
    width: 100%;
	left: 50px;

    display:inline-table;
    justify-content: center;
    align-items: center;
}

.linkimage{

    width: auto;
    height: 8vh;
    left: 25px;
    top: 25px;

}