.spaceBeforeTitleDesktop{
    height: 0px;
}

.spaceAfterProjectTitleDesktop{
    height: 0px;
}

.spaceBeforeProjectTitleDesktop{
    height: 0px;
}

.spaceAfterTitleDesktop{
    height: 0px;
}

.spaceBeforeMainavDesktop{
    height: 125px;
}

.spaceAfterMainavDesktop{
    height: 200px;
}