.rounded-corners {
    border-radius: var(--border-radius);
}

.half-rounded-corners {
    border-radius: var(--half-border-radius);
}

.rounded-effect, .rounded-effect-and-children, .rounded-effect-and-children * {
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.rounded-effect:hover, .rounded-effect-and-children:hover, .rounded-effect-and-children:hover *{
    border-radius: var(--half-border-radius);
    transition: 0.3s;
}