logo {
    content: url("../multimedia/images/Logo Tansparente.png");
}

logo.main-logo {
    width: 90%;
    max-width: 600px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

logo.nav-logo {
    height: calc(2* var(--margin) - 1.5vw);
}