#main-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;
    max-width: calc(400px + 20vh + 20vw);
}

#main-container > *:not(.space) {
    padding: var(--margin);
    margin-bottom: var(--margin);
}

.main-container-index {
    top: 100%;
}

.main-container-project {
    top: 100px;
}