#main-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--margin)/3 + 8vh);
    
    width: 100%;
}

#main-container > *:not(.space) {
    padding: var(--margin);

    --main-container-margin: calc(5% + 25vw - 13vh);
    padding-left: var(--main-container-margin);
    padding-right: var(--main-container-margin);
}

.main-container-index {
    top: 100%;
}

.main-container-project {
    top: 100px;
}