#More {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#More > a {
    margin-top: var(--margin);
}

#More > .more-container *{
    height: 50px;
}

#More > p {
    width: 100%;
}