#Porfolio > #porfolio-entries-container {
    justify-content: space-evenly;
    display: flex;
}

.porfolio-entry {
    width: calc(100%/3.5);
    min-width: 100px;
    
}

.porfolio-entry > img {
    width: 100%;
}