.game{
    position: relative;

    width: 100%;
    height: 850px;

    z-index: 1;
}

.Scratch{
    position: absolute;

    width: 100%;
    height: calc(100% - 100px);

    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.ScratchGame{
    margin-top:-52px;
    margin-left:-2px;
}

.Unity{
    position: absolute;

    width: 100%;
    height: calc(100% - 100px);

    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}   

.UnityGame{
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}