:root {
    --margin: calc(20px + 2vw);

    --border-radius: calc(var(--margin)/4 + 1.5vh);
    --half-border-radius: calc(var(--border-radius)/2);

    --blur-radius: 5px;

    --text-size: calc(var(--margin)/5 + 2vh);
    --text-nav-size: calc(var(--margin)/5 + 2vh);
    --text-title-size: calc(var(--margin)*1.5 - 1.3vw + 4.5vh);

    --white: #F5EBEB;
}