.gamepasses {
    width: 100%;

    padding-bottom: 100%;

    background-color: #ffd9009f;
    border-radius: var(--corner-small);

    backdrop-filter: blur(5px) brightness(1.5);

    display: block;
}

.gamepasses > #gp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    text-decoration: none;
    color: var(--white);
    text-align: center;
    font-size: calc(35px + 0.4vw);

    margin: 0px;
}

.gamepasses > #info {
    position: absolute;
    left: calc(0px - var(--horizontal-margin)/2);
    transform: translateX(-100%);
    top: 0;
    height: fit-content;
    width: fit-content;

    display: none;

    --hpadding: calc(var(--horizontal-margin) / 3);
    --vpadding: calc(var(--hpadding) / 3);
    padding-left: var(--hpadding);
    padding-right: var(--hpadding);
    padding-top: var(--vpadding);
    padding-bottom: var(--vpadding);

    background-color: var(--white);
    border-radius: var(--corner-big);

    text-align: center;
    vertical-align: middle;
    font-size: calc(14px + 0.3vw);
}

.gamepasses:hover #info {display: ruby;}