.slideshowFrame {
    width: 100%;
    padding-bottom: calc(75% - 7vw);

    position: relative;
    box-sizing: border-box;
}

.slideshowFrame > .slideshowImages {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slideshowFrame > .slideshowImages > .slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

    border-radius: var(--corner-small);
    
    transition-duration: 0.3s;
    transition-timing-function: ease;
    filter: opacity(100%);
}

.slideImageHidden {
    filter: opacity(0%) !important;
}

.slideshowFrame > .buttons {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;

    --margin-distance: 20px;
}

.slideshowFrame > .buttons > .move {
    width: 100%;
    height: 75px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: inline-flex;
}

.slideshowFrame > .buttons > .move > * {
    color: var(--white);
    position: absolute;

    font-size: 50px;
}
.slideshowFrame > .buttons > .move > .right {right: var(--margin-distance);}
.slideshowFrame > .buttons > .move > .left {left: var(--margin-distance);}



.slideshowFrame > .buttons > .jumpButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: var(--margin-distance);
    align-items: baseline;
}
.slideshowFrame > .buttons > .jumpButtons > * {
    height: 2mm;
    aspect-ratio: 1;
    
    float: center;
    
    border: 1px solid var(--white);
    border-radius: 50%;

    margin-right: 2px;
    margin-left: 2px;

    transition-duration: 0.3s;
}

.slideshowWhite {
    background-color: var(--white);
    height: 3mm !important;
}


.slideshowFrame > .buttons > .right {float: right;}
.slideshowFrame > .buttons > .left {float: left;}
.slideshowFrame > .buttons > .center {
    float: center;
    
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 13px;
    width: 13px;
}